:root {
    --accent: #FFA21B;
    --background: #16151D;
    --surface: #212121;
    --container: #332C26;
    --variable: #2F1E06;
    --text: #FFFFFF;
}

* {
    text-decoration: none;
    list-style: none;
    padding: 0%;
    margin: 0;
    font-family: "Plus Jakarta Sans", serif;
    color: var(--text);
    border-style: none;
}

body {
    background: var(--background);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* GLOBAL ICON STYLING */
.icon {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: var(--container);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;

    &:hover {
        cursor: pointer;
        background: var(--accent);

        img {
            filter: invert(1);
        }
    }
}

.five-grid {
    padding: 8px 150px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.search-bar {
    grid-column: span 2;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    background: var(--container);
    display: flex;
    justify-content: space-around;
    align-items: center;

    input {
        width: 70%;
        height: 70%;
        background: transparent;
        border-color: transparent;

        &:focus {
            outline: none;
        }
    }

    .icon {
        height: 30px;
        width: 30px;
        border-radius: 100%;
        background: var(--container);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.1s;

        img {
            height: 18px;
            width: 18px;
        }

        &:hover {
            cursor: pointer;
            border-style: groove;
            border-color: var(--accent);
        }
    }
}

header {
    background: var(--surface);
    width: 100%;

    .links {
        grid-column: span 2;
        width: 100%;
        display: flex;
        align-items: center;
        
        .logo {
            width: 50px;
            transition: all 0.5s;
            display: flex;
            align-items: center;
            justify-content: center;
                
            &:hover {
                width: 150px;
                cursor: pointer;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        .nav {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            a {
                transition: all 0.1s;

                &:hover {
                    color: var(--accent);
                }
            }
        }
    }

    .actions {
        width: 100%;
        grid-column-start: 5;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
}

main {
    background: var(--surface);
    width: 100%;

    .cover {
        grid-template-columns: repeat(6, 1fr);
        justify-content: start;
        align-items: start;
        width: 100%;

    .image-container {
        grid-column: 2;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        box-sizing: border-box;

        img {
            object-position: center;
            object-fit: cover;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }
    }

        .data {
            grid-column: span 3;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .head {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 15px;

                .status {
                    border-radius: 46px;
                    padding: 4px 13px;
                    background: var(--accent);
                    color: var(--background);
                }
            }
            .tag-list {
                display: flex;
                font-size: 12px;
                gap: 8px;

                .tag {
                    border: 1px solid var(--text);
                    padding: 4px 13px;
                    border-radius: 46px;
                    color: var(--text);
                }
            }
        }
    }

    .info {
        grid-template-columns: repeat(6, 1fr);
        justify-content: center;

        .rating {
            background: var(--container);
            border-radius: 50px;
            height: 50px;
            display: flex;
            gap: 2px;
            padding: 0px 20px;
            align-items: center;
            justify-self: start;
        }

        .actions {
            grid-column: 6;
            width: 100%;
            display: flex;
            justify-content: end;
            gap: 8px;
        }

        .publishing-data {
            grid-column: span 4;
            display: flex;
            flex-direction: column;

            .publishing-data-container {
                display: flex;
                justify-content: space-between;

                .first {
                    font-weight: lighter;
                }

                .second {
                    font-weight: bold;
                }

                p {
                    font-size: 12px;
                    color: var(--text);
                }
            }
        }
    }
}

.chapters-header {
    align-items: center;
    background: var(--surface);

    #read-first {
        grid-column: 3;
    }

    .search-bar-chapter {
        grid-column: 5;
        padding: 0px 20px;
        box-sizing: border-box;
    }

    .button {
        background: var(--container);
        border-radius: 50px;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        padding: 0px 20px;
    }
}

.chapter-list {

    .single-chapter {
        background: var(--surface);

        &:hover {
            background: var(--background);
            cursor: pointer;
        }
    }
    
    .chapter-image-wrap {
        grid-column: 1;
        background: var(--container);
        width: 100%;
        height: 104px;
    }

    .title-container {
        grid-column: 2;
    }

    .button-container {
        display: flex;
        grid-column: 5;
        width: 100%;
        justify-content: end;
    }
}

