:root {
    --color-primary: #ffa31a;
    --color-secondary: #131211;
    --color-background: #212121;
    --color-text: #ffffff;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }

@media (min-width:961px)  {
    .header{
        background-color:#212121;
        background-size:auto;
        height:68px;
        width:100%;
        border-radius:10px;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    .header img{
        display:inline-block;
        transform:translatex(-5px) translatey(-2px);
    }
    
    .header .nav{
        display: flex;
        gap: 20px;
        height: 100%;
        margin-left: 20px;
    }

    .header .nav a {
        color: white;
        text-decoration: none;
        padding: 0 15px;
        height: 100%;
        display: flex;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }

    .header .nav a:hover,
    .header .nav a.active {
        color: var(--color-primary);
        
    }

    .header .searchbar{
        position:relative;
        left: 530px;
        width: 300px;
    }

    .header .auth{
        height: 40px;
        width: 90px;
        background-color: var(--color-secondary);
        border-radius: 10px;
        border-style: none;
        color: var(--color-text);
        font-size: 13px;
        font-weight:750;
        cursor: pointer;
        transition: background-color 0.2s ease;
        position: relative;
        left: 550px;   
    }
    
    .header .auth:hover {
        color: var(--color-primary);
    }
}

